.card {
    margin-top: 50px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 13px;
    line-height: 26px;

    &__img {
        flex-direction: column;

        img {
            margin-bottom: 15px;
            width: 70%;
            height: 70%;
        }
    }

    &__title {
        min-width: 450px;
        height: 45px;
        margin-bottom: 30px;
        font-size: 20px;
        padding: 30px;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__count {
        text-align: right;
    }

    &__btns {
        margin-top: 20px;

        &-add {
            position: relative;
        }

        &-remove {
            margin-left: 20px;
        }
    }

    &__quantity {
        position: absolute;
        width: 20px;
        color: #FFFFFF;
        z-index: 1;
        background: #434343;
        top: -15px;
        border-radius: 50%;
        font-size: 16px;
    }

}